<div class="activity-wrapper">
    <div class="d-flex justify-content-between align-items-center panel">
        <div class="title-label">Activity</div>
        <div class="browse-label">View timeline / Filter activities</div>
    </div>
    <div class="row">
        <div class="col-12">
            <div *ngFor="let item of activities"  class="activity-content d-flex"> 
                <img [src]="item.background" />
                <div class="info">
                    <div class="title">                        
                        {{item.name}} <span> {{item.type === "view" ? "added a new video" : "commented"}}</span>
                    </div>
                    <div class="sub-title">      
                        {{item.comment}}
                    </div>
                    <div class="activity">       
                        <i *ngIf="item.type === 'comment'" class="fa fa-comment"></i>
                        <i *ngIf="item.type === 'like'" class="fa fa-video-camera"></i>
                        <i *ngIf="item.type === 'view'" class="fa fa-heart"></i> {{item.activity}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>