<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="landing-page-wrapper">
  <div class="header-wrapper">
    <div class="d-flex align-content-start flex-wrap justify-content-between align-items-center">
      <div class="title-area"><b>Social</b>Network</div>
      <div class="sub-area d-flex align-content-start flex-wrap justify-content-between align-items-center">
        <div class="filter-area">
          <div class="input-area">
              <input class="form-control" placeholder="Find..." />
              <img src="assets/search.png" />
          </div>
        </div>
        <div class="upload-area">        
          <button type="button" class="btn btn-secondary btn-lg">        
            <i href="#" class="fa fa-upload"></i>
            Upload
          </button>
        </div>
        <div class="profile-area d-flex align-content-start flex-wrap justify-content-between align-items-center">          
          <button type="button" class="btn btn-secondary btn-lg">        
            <i href="#" class="fa fa-user"></i>
          </button>
          <div class="d-flex align-items-start flex-column">
            <div class="first-name">
              Waseem
            </div>
            <div class="last-name">
              Arshad
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="breadcumb-area d-flex align-content-start flex-wrap">
      <div class="item">Videos</div><span>/</span>
      <div class="item">People</div><span>/</span>
      <div class="item">Documents</div><span>/</span>
      <div class="item">Events</div><span>/</span>
      <div class="item">Communities</div><span>/</span>
      <div class="item">Favorites</div><span>/</span>
      <div class="item">Channels</div>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="row">
      <div class="col-xl-8">
        <videos></videos>
      </div>
      <div class="col-xl-4">
        <activity></activity>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-8">
        <people></people>
        <documents></documents>
      </div>
      <div class="col-xl-4">
        <channels></channels>
      </div>
    </div>
  </div>
  <div class="footer-wrapper">
    <a href="#" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-linkedin"></a>
    <a href="#" class="fa fa-facebook"></a>
    <div class="breadcumb-area d-flex align-content-start flex-wrap">
      <div class="item">About</div><span>/</span>
      <div class="item">For Business</div><span>/</span>
      <div class="item">Suggestions</div><span>/</span>
      <div class="item">Help & FAQs</div><span>/</span>
      <div class="item">Contacts</div><span>/</span>
      <div class="item">Pricing</div>
    </div>
    <div class="copyright">
      &copy; Copyright 2013 companyname inc.
    </div>
    <div class="breadcumb-area d-flex align-content-start flex-wrap end">
      <div class="item">Privacy</div><span>/</span>
      <div class="item">Terms</div>
    </div>
  </div>
</div>