<div class="content-area">
    <div class="d-flex justify-content-between align-items-center">
        <div class="title-label">People</div>
        <div class="browse-label">View all</div>
    </div>
    <div class="row">
        <div class="col-md-8 col-xs-12">
            <div *ngFor="let item of peoples.main" class="main content" [ngStyle]="{'background': 'url(' + item.background + ') no-repeat 0 0 / cover'}"> 
                <div class="info">
                    <div class="title">                        
                        {{item.title}}
                    </div>
                    <div class="sub-title">                        
                        <div class="d-flex justify-content-between align-items-center">
                            <span>              
                                {{item.name}} 
                            </span>
                        </div>
                    </div>
                </div>
                <span class="views">              
                    {{item.views}} 
                </span>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div *ngFor="let item of peoples.right" class="sub content" [ngStyle]="{'background': 'url(' + item.background + ') no-repeat 0 0 / cover'}"> 
                <div class="info">
                    <div class="sub-title">                        
                        <div class="d-flex">
                            <span>
                                {{item.name}} 
                            </span>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </div>
    <div class="row">
        <div *ngFor="let item of peoples.bottom" class="col-md-4 col-xs-12">
            <div class="sub content" [ngStyle]="{'background': 'url(' + item.background + ') no-repeat 0 0 / cover'}"> 
                <div class="info">
                    <div class="sub-title">                        
                        <div class="d-flex">
                            <span>
                                {{item.name}} 
                            </span>
                        </div>
                    </div>
                </div>  
                <span class="views">              
                    {{item.views}} 
                </span>        
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div class="sub content upload-area"> 
                <div class="upload-info">
                    <div class="sub-title">                        
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="round">
                                <i class="fa fa-spinner"></i>
                            </div>
                            <div class="text-area">
                                <span>
                                    Show 
                                </span>
                                <span>
                                    Your Work
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>          
        </div>
    </div>
</div>